/* .menuHeader {
  background: lightcoral;
  position: fixed;
  width: 100%;
}

ul {
  list-style: none;
}

li.ele_menu {
  float: left;

}

li a {
  color: white;
  text-decoration: none;
  padding: 0 50px;
} */
