form {
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-sizing: border-box;
}

.formLink {
  padding: 100px 50px;
  background: #2ecc71;
  width: 80%;
  border-radius: 5px;
  margin: auto;
}

.formLink input {
  border:1px solid transparent;
  padding: 15px 0 15px 10px ;
  width: 100%;
  color: grey;
  text-transform: capitalize;
}

.formLink input:focus {
  color: black;
  border: 1px solid #27ae60;

}

.formLink label {
  width: 100%;
  float: left;
  margin: 5px 0 ;
  color: white;
}

.formLink .button {
  margin: 10px 0 ;
  border-radius: 0 0 5px 5px;
  background: #27ae60;
  color: white;
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}

.formLink .button:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

